<div class="flex min-h-screen">

    
    <div *ngIf="isChatActive" class="chat-container">
        <app-chat [chatUser]="chatUser"></app-chat>
    </div>
    <!-- Sidebar -->
    <div class="w-1/6 min-h-screen">
        <app-sidebar [buttonTexts]="buttonTexts" (buttonClick)="onSidebarButtonClick($event)"></app-sidebar>
    </div>
    <!-- Table -->
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Dashboard'">
        <app-dashboard [bidTableData]="bidTableData" [shipmentTableData]="shipmentTableData"
            [clientTableData]="clientTableData" [pickupTableData]="pickupTableData" [fullData]="dashBoardData"></app-dashboard>
    </div>


    <!-- Table -->
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'All Bids'">
        <app-table [tabledata]="bidTableData"></app-table>
    </div>
   
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Customers'">
        <app-table [tabledata]="clientTableData"></app-table>
    </div>
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Pick-up Locations'">
        <app-table [tabledata]="pickupTableData"  [updateResource]="updateResource.bind(this)"></app-table>
    </div>

    
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Shipments'">
        <app-table [tabledata]="shipmentTableData"></app-table>
    </div>
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Payments'">
        <app-table [tabledata]="paymentTableData"></app-table>
    </div>
    

    <!-- Form -->
    <div class="w-5/6 h-full" *ngIf="showForm">
        <app-form [formGroup]="personalInfoForm" [companyInformation]= 'companyInformation'
            [role]="role" [address]="address"
            [isDriver]="isDriver" [userStatus]="userStatus" [dataToShow]="selectedComponent"> </app-form>
    </div>
<div class="chat-icon">
    <button (click)="chatBoxToggle()">
        <img src="assets/images/chat.png" alt="Chat Image">
    </button>

</div>
    <!-- Modal -->
    <!-- <div *ngIf="showModal" class="w-5/6 h-full">
        <app-modal [action]="currentAction"></app-modal>
    </div> -->
</div>

<!-- Client Modal -->
<app-adress-modal [action]="currentAction"  [form]="FetchedInfoForm" *ngIf="showClientModal" (closeModal)="closeAddressModal()" (onSave)="saveClient($event)"
    (onClose)="closeAddressModal()" [modalHeading]='modalHeading'  [updateResource]="updateResource.bind(this)"></app-adress-modal>

<!-- Pickup Modal -->
<app-adress-modal [action]="currentAction" *ngIf="showPickupModal" (closeModal)="closeAddressModal()" (onSave)="savePickup($event)"
    (onClose)="closeAddressModal()" [modalHeading]='modalHeading'  [updateResource]="updateResource.bind(this)"></app-adress-modal>

<!-- delete Modal -->
<app-delete-modal  *ngIf="showDeleteModal" (closeModal)="closeAddressModal()" [action]="action" [userId]="targetId"
   [deleteItem]="deleteResource.bind(this)" ></app-delete-modal>
