<div class="flex h-screen">
    <!-- Sidebar -->
    <div class="w-1/6 h-full">
        <app-sidebar [buttonTexts]="buttonTexts" (buttonClick)="onSidebarButtonClick($event)"></app-sidebar>
    </div>

    <!-- Table -->
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Drivers'">
        <app-table [tabledata]="driverTableData"></app-table>
    </div>
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Dashboard'">
        <app-admin-dashboard [fullData]="dashBoardData"></app-admin-dashboard>
    </div>

    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal &&!showVehicleForm  && selectedComponent === 'Trucks'">
        <app-table [tabledata]="truckTableData"></app-table>
    </div>
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Shipments'">
        <app-table [tabledata]="shipmentTableData"></app-table>
    </div>
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Active Bids'">
        <app-table [tabledata]="bidTableData"></app-table>
    </div>
    <div class="w-5/6 h-full" *ngIf="!showForm && !showModal && selectedComponent === 'Payments'">
        <app-table [tabledata]="paymentTableData"></app-table>
    </div>

    <!-- Form -->
    <div class="w-5/6 h-full" *ngIf="showForm">
    <app-form [formGroup]="personalInfoForm"  [personalInformation]="personalInformation"
            [bankDetails]="bankDetails"  [additionalInformation]="additionalInformation"
            [address]="address" [isDriver]="isDriver" [userStatus]="userStatus" [role]="role" > </app-form>
    </div>
    <div class="w-5/6 h-full" *ngIf="showVehicleForm">
        <app-form  [formGroup]="vehicleForm"  [role]="role" [vehicleDetails]="vehicleDetails" [vehicleSpecifications]="vehicleSpecifications"
            [registrationAndLicensing]="registrationAndLicensing" [insuranceDetails]="insuranceDetails"
            [statusAndMetadata]="statusAndMetadata" [dataToShow]="dataToShow" [isDriver]="isDriver" [vehicleStatus]="vehicleStatus">
        </app-form>
    </div>

    <!-- Modal -->
    <!-- <div *ngIf="showModal" class="w-5/6 h-full">
        <app-modal [action]="currentAction"></app-modal>
    </div> -->
</div>