<div class="bg-white p-6">
    <h2 class="text-lg font-medium mb-6">Password Details</h2>
    <form [formGroup]="formGroup">
        <div class="grid grid-cols-2 gap-6">
            <div class="col-span-2 sm:col-span-1">
                <label for="email" class="block text-sm font-medium text-gray-700 mb-2">Email</label>
                <input type="email" formControlName="email" name="email" id="email"
                    placeholder="e.g., company@example.com"
                    class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
                <div *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.invalid"
                    class="text-red-500 text-sm mt-1">
                    Valid Email is required.
                </div>
            </div>
            <div class="col-span-2 sm:col-span-1">
                <label for="phone" class="block text-sm font-medium text-gray-700 mb-2">Phone</label>
                <input type="tel" formControlName="phoneNumber" name="phone" id="phone"
                    placeholder="e.g., +91 1234567890"
                    class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
                <div *ngIf="formGroup.get('phoneNumber')?.touched && formGroup.get('phoneNumber')?.invalid"
                    class="text-red-500 text-sm mt-1">
                    Valid Indian Phone Number is required.
                </div>
            </div>
            <div class="col-span-2 sm:col-span-1" *ngIf="userRole === 'driver' || userRole === 'shipperStaff'">
                <label for="company-invitation-id" class="block text-sm font-medium text-gray-700 mb-2">Company
                    Company Reference ID</label>
                <input type="text" formControlName="companyRefId" name="company-invitation-id"
                    id="company-invitation-id" placeholder="e.g., INV12345"
                    class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
            </div>
            <div class="col-span-2 sm:col-span-1">
                <label for="password" class="block text-sm font-medium text-gray-700 mb-2">Password</label>
                <input type="password" formControlName="password" name="password" id="password" placeholder="••••••••"
                    class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
                <div *ngIf="formGroup.get('password')?.touched && formGroup.get('password')?.invalid"
                    class="text-red-500 text-sm mt-1">
                    Password must be at least 8 characters and include a combination of numbers, symbols, capital, and
                    small letters.
                </div>
            </div>
            <div class="col-span-2 sm:col-span-1">
                <label for="confirm-password" class="block text-sm font-medium text-gray-700 mb-2">Confirm
                    Password</label>
                <input type="password" formControlName="confirmPassword" name="confirm-password" id="confirm-password"
                    placeholder="••••••••"
                    class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
                <div *ngIf="formGroup.get('confirmPassword')?.touched && formGroup.get('confirmPassword')?.invalid"
                    class="text-red-500 text-sm mt-1">
                    Passwords must match.
                </div>
            </div>
        </div>
    </form>
</div>