<div class="relative flex flex-col w-full h-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border">
    <div class="relative mx-4 mt-4 overflow-hidden text-gray-700 bg-white rounded-none bg-clip-border">
        <div class="flex items-center justify-between gap-8 mb-8">
            <div>
                <h5
                    class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                    {{tabledata.title}}
                </h5>
                <p class="block mt-1 font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
                    See information about all members
                </p>
            </div>
            <div class="flex flex-col gap-2 shrink-0 sm:flex-row">
                <!-- <button
                    class="select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="button">
                    view all
                </button> -->
                <button *ngIf="tabledata.button!==''"  (click)="openModal()"
                    class="flex select-none items-center gap-3 rounded-lg bg-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                        stroke-width="2" class="w-4 h-4">
                        <path
                            d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z">
                        </path>
                    </svg>
                    {{tabledata.button}}
                </button>
            </div>
        </div>
        <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
            <div class="block w-full overflow-hidden md:w-max">
                <nav>
<ul role="tablist" class="relative flex flex-row p-1 rounded-lg bg-blue-gray-50 bg-opacity-60">
    <li *ngFor="let status of tabledata.statuses" (click)="setActiveStatus(status)"
        [attr.data-value]="status.toLowerCase()" [ngClass]="{'active': status === activeStatus}"
        class="relative flex items-center justify-center w-full h-full px-2 py-1 font-sans text-base antialiased font-normal leading-relaxed text-center bg-transparent cursor-pointer select-none text-blue-gray-900">
        <div class="z-20 text-inherit">
            &nbsp;&nbsp;{{ status }}&nbsp;&nbsp;
        </div>
        <div *ngIf="status === activeStatus" class="absolute inset-0 z-10 h-full bg-white rounded-md shadow"></div>
    </li>
</ul>


                </nav>
            </div>
            <div class="w-full md:w-72">
                <div class="relative h-10 w-full min-w-[200px]">
                    <div class="absolute inset-y-0 right-3 flex items-center pointer-events-none text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </div>
                    <input type="text"
                        class="peer h-full w-full rounded-lg border border-gray-300 px-4 py-2 pr-10 text-sm text-gray-700 placeholder-transparent transition-all focus:border-gray-700 focus:outline-none"
                        placeholder="Search" [(ngModel)]="searchQuery" (input)="onSearch()" />
                    <label
                        class="absolute left-4 top-1.5 text-sm text-gray-600 transition-all peer-placeholder-shown:top-1.5 peer-placeholder-shown:text-sm peer-placeholder-shown:text-gray-400 peer-focus:top-0 peer-focus:text-xs peer-focus:text-gray-700">
                        Search
                    </label>
                </div>

            </div>
        </div>
    </div>
<div class="p-6 px-0 overflow-scroll">
    <div class="relative flex flex-col w-full h-full overflow-scroll bg-white shadow-md rounded-lg bg-clip-border">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 table-fixed">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th *ngFor="let head of tabledata.tableHeads" scope="col" class="px-6 py-3 text-center">
                        {{ head }}
                    </th>
                </tr>
            </thead>
            <tbody>
            <!-- <ng-container *ngIf="showNoContentMessage">
                <tr>
                    <td colspan="100%" class="text-center p-4 m-4 bg-gray-100 border border-gray-300 rounded-md text-gray-600">
                        There is no content available...
                    </td>
                </tr>
            </ng-container> -->

                
                    <ng-container *ngFor="let row of tabledata.paginatedData">
                        <tr *ngIf="Object.values(row)[3] === activeStatus && (user.role === 'appAdmin'||user.role==='carrierAdmin')"
                            class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[0] }}</td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[1] }}</td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[2] }}</td>
                            <td class="px-6 py-4 text-center">
                                <div class="flex items-center justify-center">
                                    <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                                    {{ Object.values(row)[3] }}
                                </div>
                            </td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[4] }}</td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[5] }}</td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[6] }}</td>
                
                            <td class="px-6 py-4 text-center" *ngIf="tabledata.title !== 'All Bids' && tabledata.title !== 'All Loads' && tabledata.title !== 'All Trucks' ">
                                <app-edit-delete-view [id]="row.id" [item]="tabledata.title"></app-edit-delete-view>
                            </td>
                            <td class="px-6 py-4 text-center"
                                *ngIf="tabledata.title == 'All Trucks'">
                                <app-edit-delete-view [id]="row.id" [item]="'Trucks'"></app-edit-delete-view>
                            </td>
                        </tr>
                    </ng-container>
               
<ng-container *ngFor="let row of tabledata.paginatedData">
    <tr *ngIf="tabledata.title === 'All Trucks' && user.role === '!appAdmin'"
        class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-6 py-4 text-center">{{ Object.values(row)[0] }}</td>
        <td class="px-6 py-4 text-center">{{ Object.values(row)[1] }}</td>
        <td class="px-6 py-4 text-center">{{ Object.values(row)[2] }}</td>
        <td class="px-6 py-4 text-center">
            <div class="flex items-center justify-center">
                <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                {{ Object.values(row)[3] }}
            </div>
        </td>
        <td class="px-6 py-4 text-center">{{ Object.values(row)[4] }}</td>
        <td class="px-6 py-4 text-center">{{ Object.values(row)[5] }}</td>
        <td class="px-6 py-4 text-center">{{ Object.values(row)[6] }}</td>


    </tr>
</ng-container>
                
                  
<ng-container *ngFor="let row of tabledata.paginatedData">
    


    <tr *ngIf="(user.role !== 'appAdmin' && user.role !== 'carrierAdmin') && shouldShowRow(row)"
        class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

        <ng-container *ngFor="let key of getObjectKeys(row)">
            <td *ngIf="key !== '_id'" class="px-6 py-4 text-center">
                <div *ngIf="key === 'status'; else normalCell">
                    <div class="flex items-center justify-center">
                        <div [ngClass]="{'bg-green-500': row[key] === 'Open', 'bg-red-500': row[key] === 'Closed'}"
                            class="h-2.5 w-2.5 rounded-full me-2"></div>
                        {{ row[key] }}
                    </div>
                </div>
                <ng-template #normalCell>
                    {{ row[key] }}
                </ng-template>
            </td>
        </ng-container>

        <td class="px-6 py-4 text-center">
            <button *ngIf="(tabledata.title == 'All Bids' || tabledata.title == 'All Shipments') && !row.expanded"
                (click)="toggleExpand(row)">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <button *ngIf="(tabledata.title == 'All Bids' || tabledata.title == 'All Shipments') && row.expanded"
                (click)="toggleExpand(row)">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                *ngIf="tabledata.title == 'All Loads'" (click)="makeBid(row)">
                Bid
            </button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                *ngIf="tabledata.title == 'All Payments'" (click)="getPayment(row)">
                Invoice
            </button>
        </td>

        <td *ngIf="tabledata.title !== 'All Bids' && tabledata.title !== 'All Loads' && tabledata.title !== 'All Shipments' && tabledata.title !== 'All Payments'"
            class="px-6 py-4 text-center">
            <app-edit-delete-view [id]="row.id" [item]="tabledata.title"></app-edit-delete-view>
        </td>
    </tr>
</ng-container>
<ng-container *ngFor="let row of tabledata.paginatedData">
    <tr *ngIf="(user.role === 'carrierAdmin'||user.role === 'appAdmin') && shouldShowRow(row) && tabledata.title === 'All Payments' "
        class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

        <ng-container *ngFor="let key of getObjectKeys(row)">
            <td *ngIf="key !== '_id'" class="px-6 py-4 text-center">
                <div *ngIf="key === 'status'; else normalCell">
                    <div class="flex items-center justify-center">
                        <div [ngClass]="{'bg-green-500': row[key] === 'Open', 'bg-red-500': row[key] === 'Closed'}"
                            class="h-2.5 w-2.5 rounded-full me-2"></div>
                        {{ row[key] }}
                    </div>
                </div>
                <ng-template #normalCell>
                    {{ row[key] }}
                </ng-template>
            </td>
        </ng-container>

        <td class="px-6 py-4 text-center">
           
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                *ngIf="tabledata.title == 'All Payments'" (click)="getPayment(row)">
                Invoice
            </button>
        </td>

        
    </tr>
</ng-container>



                    <ng-container *ngFor="let row of tabledata.paginatedData">
                        <tr *ngIf="shouldShowRow(row)&&(tabledata.title =='All Loads' || tabledata.title =='All Shipments'||tabledata.title =='Active Bids' )&&(user.role==='carrierAdmin'||user.role==='Driver'||user.role==='appAdmin')"
                            class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[0] }}</td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[1] }}</td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[2] }}</td>
                            <td class="px-6 py-4 text-center">
                                <div class="flex items-center justify-center">
                    
                                    {{ Object.values(row)[3] }}
                                </div>
                            </td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[4] }}</td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[5] }}</td>
                            <td class="px-6 py-4 text-center">{{ Object.values(row)[6] }}</td>
                           
                            
                            <td class="px-6 py-4 text-center">
                                <button *ngIf="!row.expanded && tabledata.title !=='All Loads'&&tabledata.title !== 'Active Bids'"
                                    (click)="toggleExpand(row)">
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                                <button *ngIf="row.expanded && tabledata.title !=='All Loads'&&tabledata.title !== 'Active Bids'"
                                    (click)="toggleExpand(row)">
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                </button>
                                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                                    *ngIf="tabledata.title =='All Loads' " (click)="makeBid(row)">
                                    Bid
                                </button>
                                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                                    *ngIf="tabledata.title =='Active Bids' " (click)="makeBid(row)">
                                    Bid Again
                                </button>
                    
                    
                            </td>
                    
                            <td class="px-6 py-4 text-center"
                                *ngIf="tabledata.title !== 'All Loads'&&tabledata.title !== 'All Shipments' &&tabledata.title !== 'Active Bids' ">
                    
                                <app-edit-delete-view [id]="row.id" [item]="tabledata.title"></app-edit-delete-view>
                            </td>
                    
                    
                        </tr>
                    </ng-container>
            
                <ng-container *ngFor="let row of tabledata.paginatedData">
                    <tr *ngIf="shouldShowRow(row)&& tabledata.title==='All Bids'&&user.role === 'appAdmin'"
                        class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <ng-container *ngFor="let key of getObjectKeys(row)">
                            <td *ngIf="key !== '_id'" class="px-6 py-4 text-center">
                                <div *ngIf="key === 'status'; else normalCell">
                                    <div class="flex items-center justify-center">
                                        <div [ngClass]="{'bg-green-500': row[key] === 'Open', 'bg-red-500': row[key] === 'Closed'}"
                                            class="h-2.5 w-2.5 rounded-full me-2"></div>
                                        {{ row[key] }}
                                    </div>
                                </div>
                                <ng-template #normalCell>
                                    {{ row[key] }}
                                </ng-template>
                            </td>
                        </ng-container>
                
                
                        <td class="px-6 py-4 text-center">
                            <button *ngIf="!row.expanded "
                                (click)="toggleExpand(row)">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                            <button *ngIf="row.expanded"
                                (click)="toggleExpand(row)">
                                <mat-icon>keyboard_arrow_up</mat-icon>
                            </button>
                            
                
                
                        </td>
                
                        <!-- <td class="px-6 py-4 text-center">
                
                            <app-edit-delete-view [id]="row.id" [item]="tabledata.title"></app-edit-delete-view>
                        </td> -->
                
                
                    </tr>
                </ng-container>
               
                   
<ng-container *ngFor="let row of tabledata.paginatedData">
    <tr *ngIf="row.expanded && tabledata.title === 'All Bids'">
    <td colspan="8" class="p-4 min-w-max">
        <div class="bg-gray-100 p-4">
            <div class="w-full h-auto flex flex-col items-start justify-start">
                <div class="w-full flex flex-row gap-4">
    
                    <div class="stops-section w-1/2 relative border-b-2 border-gray-800 pb-2 flex-wrap">
                        <h2 class="text-lg font-bold text-gray-800 uppercase">Stops (1 Pick - {{loadData.dropoffs}}
                            Drop)</h2>
    
                        <div class="stop-details mt-4 flex flex-wrap">
                            <!-- Pickup Location -->
                            <div class="stop-item flex items-start mb-4 w-1/2">
                                <span class="stop-label text-3xl text-black/90 mr-4">P1</span>
                                <div class="stop-info text-sm text-black/90">
                                    {{loadData.pickupLocation?.companyName}},<br />
                                    {{loadData.pickupLocation?.address?.addressLine1}},<br />
                                    {{loadData.pickupLocation?.address?.addressLine2 || ''}},<br />
                                    {{loadData.pickupLocation?.address?.city}},
                                    {{loadData.pickupLocation?.address?.state || ''}},<br />
                                    {{loadData.pickupLocation?.address?.postalCode || ''}},<br />
                                    <span>Dispatch Date: {{ getAppointmentDateTime(loadData.dispatchDateTime).date
                                        }}</span><br />
                                    <span>Dispatch Time: {{ getAppointmentDateTime(loadData.dispatchDateTime).time
                                        }}</span><br />
                                </div>
                            </div>
    
    
                            <!-- Dropoff 1 -->
                            <div class="stop-item flex items-start mb-4 w-1/2" *ngIf="loadData.dropoff1">
                                <span class="stop-label text-3xl text-black/90 mr-4">D1</span>
                                <div class="stop-info text-sm text-black/90">
                                    {{loadData.dropoff1?.companyName}},
                                    {{loadData.dropoff1?.address?.addressLine1}},<br />
                                    {{loadData.dropoff1?.address?.addressLine2 || ''}},<br />
                                    {{loadData.dropoff1?.address?.city}},
                                    {{loadData.dropoff1?.address?.state || ''}},<br />
                                    {{loadData.dropoff1?.address?.postalCode || ''}},<br />
                                    <span>Appointment Date: {{ getAppointmentDateTime(loadData.appointment1).date
                                        }}</span><br />
                                    <span>Appointment Time: {{ getAppointmentDateTime(loadData.appointment1).time
                                        }}</span><br />
                                </div>
                            </div>
    
    
    
                            <!-- Dropoff 2 -->
                            <div class="stop-item flex items-start mb-4 w-1/2" *ngIf="loadData.dropoff2">
                                <span class="stop-label text-3xl text-black/90 mr-4">D2</span>
                                <div class="stop-info text-sm text-black/90">
                                    {{loadData.dropoff2?.companyName}},<br />
                                    {{loadData.dropoff2?.address?.addressLine1}},<br />
                                    {{loadData.dropoff2?.address?.addressLine2 || ''}},<br />
                                    {{loadData.dropoff2?.address?.city}},
                                    {{loadData.dropoff2?.address?.state || ''}},<br />
                                    {{loadData.dropoff2?.address?.postalCode || ''}},<br />
                                    <span>Appointment Date: {{ getAppointmentDateTime(loadData.appointment2).date
                                        }}</span><br />
                                    <span>Appointment Time: {{ getAppointmentDateTime(loadData.appointment2).time
                                        }}</span><br />
    
                                </div>
                            </div>
    
                            <!-- Dropoff 3 -->
                            <div class="stop-item flex items-start w-1/2" *ngIf="loadData.dropoff3">
                                <span class="stop-label text-3xl text-black/90 mr-4">D3</span>
                                <div class="stop-info text-sm text-black/90">
                                    {{loadData.dropoff3?.companyName}},<br />
                                    {{loadData.dropoff3?.address?.addressLine1}},<br />
                                    {{loadData.dropoff3?.address?.addressLine2 || ''}},<br />
                                    {{loadData.dropoff3?.address?.city}},
                                    {{loadData.dropoff3?.address?.state || ''}},<br />
                                    {{loadData.dropoff3?.address?.postalCode || ''}},<br />
                                    <span>Appointment Date: {{ getAppointmentDateTime(loadData.appointment3).date
                                        }}</span><br />
                                    <span>Appointment Time: {{ getAppointmentDateTime(loadData.appointment3).time
                                        }}</span><br />
    
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="additional-details-section w-1/2 relative border-b-2 border-gray-800 pb-2">
                        <h2 class="text-lg font-bold text-gray-800 uppercase">Load Details</h2>
                        <div class="details-grid grid grid-cols-2 gap-4 mt-4">
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Agent Name</p>
                                <p class="text-sm text-black/90">{{loadData.agentName || '--'}}</p>
                            </div>
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Agent Contact</p>
                                <p class="text-sm text-black/90">{{loadData.agentContact || '--'}}</p>
                            </div>
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Material</p>
                                <p class="text-sm text-black/90">{{loadData.material || '--'}}</p>
                            </div>
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Vehicle Type</p>
                                <p class="text-sm text-black/90">{{loadData.vehicleType || '--'}}</p>
                            </div>
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Vehicle Body</p>
                                <p class="text-sm text-black/90">{{loadData.vehicleBody || '--'}}</p>
                            </div>
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">LoadData Weight</p>
                                <p class="text-sm text-black/90">{{loadData.quantity ? loadData.quantity + ' tons' : '--'}}
                                </p>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            <div class="bidders-section w-full mt-6">
                <h2 class="text-lg font-bold text-gray-800 uppercase mt-8 border-b-2 border-gray-800">
                    Last 5 Bidders
                </h2>
                <div class="overflow-x-auto mt-4">
                    <table class="min-w-full border border-gray-300">
                        <thead>
                            <tr>
                                <th class="px-4 py-2 border-b border-gray-300">Company</th>
                                <th class="px-4 py-2 border-b border-gray-300">Contact Person</th>
                                <th class="px-4 py-2 border-b border-gray-300">Contact Number</th>
                                <th class="px-4 py-2 border-b border-gray-300">Bid Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bidder of loadData.bids" (click)="onBidderSelection(bidder)"
                                class="border-t border-gray-200 cursor-pointer transition-colors duration-150" [ngClass]="{
                              'bg-blue-50': loadData.selectedBidder === bidder._id,
                              'hover:bg-gray-50': loadData.selectedBidder !== bidder._id
                            }">
                                <td class="px-4 py-2">{{bidder.companyName}}</td>
                                <td class="px-4 py-2">{{bidder.firstName}}</td>
                                <td class="px-4 py-2">{{bidder.companyPhone}}</td>
                                <td class="px-4 py-2">{{bidder.bid}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Show the "Assign Load" button only if there are bidders -->
                <div class="mt-4 text-right" *ngIf="loadData.bids && loadData.bids.length > 0">
                    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" (click)="onSubmit()"
                        [disabled]="!loadData.selectedBidder"
                        [ngClass]="{'opacity-50 cursor-not-allowed': !loadData.selectedBidder}">
                        Assign Load
                    </button>
                </div>
            </div>
            </div>
        </div>
    </td>
    </tr>
</ng-container>

<ng-container *ngFor="let row of tabledata.paginatedData">
    <tr *ngIf="row.expanded && tabledata.title === 'All Shipments'">
        <td colspan="8" class="p-4">
            <div class="bg-gray-100 p-4">
                <div class="w-full h-auto flex flex-col items-start justify-start">
                    <div class="w-full flex flex-row gap-4">

                        <!-- Stops Section -->
                        <div class="stops-section w-1/2 relative border-b-2 border-gray-800 pb-2 flex-wrap">
                            <h2 class="text-lg font-bold text-gray-800 uppercase">Stops (1 Pick - {{loadData.dropoffs}}
                                Drop)</h2>

                            <div class="stop-details mt-4 flex flex-wrap">
                                <!-- Pickup Location -->
                                <div class="stop-item flex items-start mb-4 w-1/2">
                                    <span class="stop-label text-3xl text-black/90 mr-4">P1</span>
                                    <div class="stop-info text-sm text-black/90">
                                        {{loadData.pickupLocation?.companyName}},<br />
                                        {{loadData.pickupLocation?.address?.addressLine1}},<br />
                                        {{loadData.pickupLocation?.address?.addressLine2 || ''}},<br />
                                        {{loadData.pickupLocation?.address?.city}},
                                        {{loadData.pickupLocation?.address?.state || ''}},<br />
                                        {{loadData.pickupLocation?.address?.postalCode || ''}},<br />
                                        <span>Dispatch Date: {{ getAppointmentDateTime(loadData.dispatchDateTime).date
                                            }}</span><br />
                                        <span>Dispatch Time: {{ getAppointmentDateTime(loadData.dispatchDateTime).time
                                            }}</span><br />
                                    </div>
                                </div>


                                <!-- Dropoff 1 -->
                                <div class="stop-item flex items-start mb-4 w-1/2" *ngIf="loadData.dropoff1">
                                    <span class="stop-label text-3xl text-black/90 mr-4">D1</span>
                                    <div class="stop-info text-sm text-black/90">
                                        {{loadData.dropoff1?.companyName}},
                                        {{loadData.dropoff1?.address?.addressLine1}},<br />
                                        {{loadData.dropoff1?.address?.addressLine2 || ''}},<br />
                                        {{loadData.dropoff1?.address?.city}},
                                        {{loadData.dropoff1?.address?.state || ''}},<br />
                                        {{loadData.dropoff1?.address?.postalCode || ''}},<br />
                                        <span>Appointment Date: {{ getAppointmentDateTime(loadData.appointment1).date
                                            }}</span><br />
                                        <span>Appointment Time: {{ getAppointmentDateTime(loadData.appointment1).time
                                            }}</span><br />
                                    </div>
                                </div>



                                <!-- Dropoff 2 -->
                                <div class="stop-item flex items-start mb-4 w-1/2" *ngIf="loadData.dropoff2">
                                    <span class="stop-label text-3xl text-black/90 mr-4">D2</span>
                                    <div class="stop-info text-sm text-black/90">
                                        {{loadData.dropoff2?.companyName}},<br />
                                        {{loadData.dropoff2?.address?.addressLine1}},<br />
                                        {{loadData.dropoff2?.address?.addressLine2 || ''}},<br />
                                        {{loadData.dropoff2?.address?.city}},
                                        {{loadData.dropoff2?.address?.state || ''}},<br />
                                        {{loadData.dropoff2?.address?.postalCode || ''}},<br />
                                        <span>Appointment Date: {{ getAppointmentDateTime(loadData.appointment2).date
                                            }}</span><br />
                                        <span>Appointment Time: {{ getAppointmentDateTime(loadData.appointment2).time
                                            }}</span><br />

                                    </div>
                                </div>

                                <!-- Dropoff 3 -->
                                <div class="stop-item flex items-start w-1/2" *ngIf="loadData.dropoff3">
                                    <span class="stop-label text-3xl text-black/90 mr-4">D3</span>
                                    <div class="stop-info text-sm text-black/90">
                                        {{loadData.dropoff3?.companyName}},<br />
                                        {{loadData.dropoff3?.address?.addressLine1}},<br />
                                        {{loadData.dropoff3?.address?.addressLine2 || ''}},<br />
                                        {{loadData.dropoff3?.address?.city}},
                                        {{loadData.dropoff3?.address?.state || ''}},<br />
                                        {{loadData.dropoff3?.address?.postalCode || ''}},<br />
                                        <span>Appointment Date: {{ getAppointmentDateTime(loadData.appointment3).date
                                            }}</span><br />
                                        <span>Appointment Time: {{ getAppointmentDateTime(loadData.appointment3).time
                                            }}</span><br />

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="additional-details-section w-1/2 relative border-b-2 border-gray-800 pb-2">
                            <h2 class="text-lg font-bold text-gray-800 uppercase">Load Details</h2>
                            <div class="details-grid grid grid-cols-2 gap-4 mt-4">
                                <div class="detail-item">
                                    <p class="text-sm font-bold text-gray-800">Agent Name</p>
                                    <p class="text-sm text-black/90">{{loadData.agentName || '--'}}</p>
                                </div>
                                <div class="detail-item">
                                    <p class="text-sm font-bold text-gray-800">Agent Contact</p>
                                    <p class="text-sm text-black/90">{{loadData.agentContact || '--'}}</p>
                                </div>
                                <div class="detail-item">
                                    <p class="text-sm font-bold text-gray-800">Material</p>
                                    <p class="text-sm text-black/90">{{loadData.material || '--'}}</p>
                                </div>
                                <div class="detail-item">
                                    <p class="text-sm font-bold text-gray-800">Vehicle Type</p>
                                    <p class="text-sm text-black/90">{{loadData.vehicleType || '--'}}</p>
                                </div>
                                <div class="detail-item">
                                    <p class="text-sm font-bold text-gray-800">Vehicle Body</p>
                                    <p class="text-sm text-black/90">{{loadData.vehicleBody || '--'}}</p>
                                </div>
                                <div class="detail-item">
                                    <p class="text-sm font-bold text-gray-800">LoadData Weight</p>
                                    <p class="text-sm text-black/90">{{loadData.quantity ? loadData.quantity + ' tons' :
                                        '--'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carrier Details -->
                    <div *ngIf="user.role==='shipperAdmin' "
                        class="carrier-details-section w-full border-b-2 border-gray-800 pb-2 mt-4">
                        <h2 class="text-lg font-bold text-gray-800 uppercase">Carrier Details</h2>
                        <div class="details-grid grid grid-cols-4 gap-4 mt-4">

                            <!-- Company Name -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Carrier Name</p>
                                <p class="text-sm text-black/90">
                                    {{ loadData.selectedBidDetails.companyDetails.companyDetails.companyName }}
                                </p>
                            </div>

                            <!-- Company Email -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Carrier Email</p>
                                <p class="text-sm text-black/90">
                                    {{ loadData.selectedBidDetails.companyDetails.companyDetails.companyEmail }}
                                </p>
                            </div>

                            <!-- Company Phone -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Carrier Phone</p>
                                <p class="text-sm text-black/90">
                                    {{ loadData.selectedBidDetails.companyDetails.companyDetails.companyPhone }}
                                </p>
                            </div>

                            <!-- Company Address -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Carrier Address</p>
                                <p class="text-sm text-black/90">
                                    {{ loadData.selectedBidDetails.companyDetails.companyDetails.address.addressLine1
                                    }}<br>
                                    {{ loadData.selectedBidDetails.companyDetails.companyDetails.address.addressLine2 ||
                                    '' }}<br>
                                    {{ loadData.selectedBidDetails.companyDetails.companyDetails.address.city }},
                                    {{ loadData.selectedBidDetails.companyDetails.companyDetails.address.state }}
                                    {{ loadData.selectedBidDetails.companyDetails.companyDetails.address.postalCode }}
                                </p>
                            </div>




                        </div>
                    </div>


                    <!-- Driver Details -->
                    <div class="driver-details-section w-full border-b-2 border-gray-800 pb-2 mt-4">
                        <h2 class="text-lg font-bold text-gray-800 uppercase">Driver Details</h2>
                        <div class="details-grid grid grid-cols-4 gap-4 mt-4">
                            <!-- Driver Name -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Driver Name</p>
                                <p class="text-sm text-black/90">
                                    {{ loadData.selectedBidDetails.driverDetails.name.firstName }}
                                    {{ loadData.selectedBidDetails.driverDetails.name.lastName }}
                                </p>
                            </div>
                            <!-- Driver Email -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Driver Email</p>
                                <p class="text-sm text-black/90">{{ loadData.selectedBidDetails.driverDetails.email }}
                                </p>
                            </div>
                            <!-- Emergency Contact Name -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Emergency Contact Name</p>
                                <p class="text-sm text-black/90">
                                    {{ loadData.selectedBidDetails.driverDetails.personalDetails.emergencyContact.name
                                    }}
                                </p>
                            </div>
                            <!-- Emergency Contact Phone Number -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Emergency Contact Phone</p>
                                <p class="text-sm text-black/90">
                                    {{
                                    loadData.selectedBidDetails.driverDetails.personalDetails.emergencyContact.phoneNumber
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>


                    <!-- Vehicle Details -->
                    <div class="vehicle-details-section w-full border-b-2 border-gray-800 pb-2 mt-4">
                        <h2 class="text-lg font-bold text-gray-800 uppercase">Vehicle Details</h2>
                        <div class="details-grid grid grid-cols-4 gap-4 mt-4">
                            <!-- Vehicle Type -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Vehicle Type</p>
                                <p class="text-sm text-black/90">{{ loadData.selectedBidDetails.truckDetails.VehicleType
                                    }}</p>
                            </div>
                            <!-- Vehicle Registration Number -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Registration Number</p>
                                <p class="text-sm text-black/90">{{
                                    loadData.selectedBidDetails.truckDetails.VehicleRegistrationNumber }}</p>
                            </div>
                            <!-- Vehicle Color -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Vehicle Color</p>
                                <p class="text-sm text-black/90">{{
                                    loadData.selectedBidDetails.truckDetails.VehicleColor }}</p>
                            </div>
                            <!-- Year of Manufacture -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Year of Manufacture</p>
                                <p class="text-sm text-black/90">{{
                                    loadData.selectedBidDetails.truckDetails.YearOfManufacture }}</p>
                            </div>
                            <!-- Vehicle Inspection Status -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Inspection Status</p>
                                <p class="text-sm text-black/90">{{
                                    loadData.selectedBidDetails.truckDetails.VehicleInspectionStatus }}</p>
                            </div>
                            <!-- Make and Model -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Make & Model</p>
                                <p class="text-sm text-black/90">{{
                                    loadData.selectedBidDetails.truckDetails.MakeAndModel }}</p>
                            </div>
                            <!-- Vehicle Capacity -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Vehicle Capacity (kg)</p>
                                <p class="text-sm text-black/90">{{
                                    loadData.selectedBidDetails.truckDetails.VehicleCapacity }}</p>
                            </div>
                            <!-- Insurance Provider -->
                            <div class="detail-item">
                                <p class="text-sm font-bold text-gray-800">Insurance Provider</p>
                                <p class="text-sm text-black/90">{{
                                    loadData.selectedBidDetails.truckDetails.InsuranceProvider }}</p>
                            </div>
                        </div>
                    </div>
                   
                    <div class="action-buttons-section w-full mt-4">
                        <app-tracker [loadData]="loadData" [user]="user"></app-tracker>
                        <h2 class="text-lg font-bold text-gray-800 uppercase">Actions</h2>
                        <h4 *ngIf="user.role==='driver'&&loadData?.status === 'Picked'" class="text-red-600 text-base">
                            You have picked the load. Wait for the shipper to confirm the dispatch, then start
                            driving.</h4>
                        <h4 *ngIf="user.role==='carrierAdmin'&&loadData?.status === 'Picked'"
                            class="text-red-600 text-base">Your driver picked the load.
                            Waiting for the shipper to confirm the dispatch.</h4>
                        <div class="flex flex-col md:flex-row gap-4 mt-4">
                            <!-- Conditionally render buttons -->
                            <div *ngIf="loadData?.status === 'Assigned'" class="flex flex-col md:flex-row gap-4">
                                <!-- Cancel Shipment Button -->
                                <button *ngIf="user.role==='carrierAdmin'||user.role==='shipperAdmin'"
                                    class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded"
                                    (click)="cancelShipment(loadData._id)">
                                    Cancel Shipment
                                </button>

                                <!-- Dispatch Shipment Dropdown & Button -->

                                <div *ngIf="user.role==='driver'" class="flex items-center gap-4">
                                    <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
                                        (click)="updateStatus(loadData._id,'Picked')">
                                        Confirm Pick-up
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="loadData?.status === 'Picked'" class="flex flex-col md:flex-row gap-4">
                                <!-- Cancel Shipment Button -->


                                <!-- Dispatch Shipment Dropdown & Button -->

                                <div *ngIf="user.role==='shipperAdmin'" class="flex items-center gap-4">
                                    <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
                                        (click)="updateStatus(loadData._id,'Dispatched')">
                                        Confirm Dispatch
                                    </button>
                                </div>
                            </div>

                            <!--  -->
                            <div class="flex flex-col md:flex-row gap-4">
                                <ng-container *ngIf="user.role === 'shipperAdmin'; else driverActions">
                                    <span *ngIf="isWaitingForDelivery(loadData)" class="text-gray-500">
                                        Waiting for delivery {{ getDeliveryStep(loadData.status) }}
                                    </span>
                                    <button *ngIf="getShipperAction(loadData) as shipperAction"
                                        [ngClass]="shipperAction.class"
                                        (click)="updateStatus(loadData._id, shipperAction.nextStatus)">
                                        {{ shipperAction.label }}
                                    </button>

                                </ng-container>

                                <ng-template #driverActions>
                                    <button *ngFor="let action of getDriverActions(loadData)" [ngClass]="action.class"
                                        (click)="updateStatus(loadData._id, action.nextStatus)">
                                        {{ action.label }}
                                    </button>
                                </ng-template>
                            </div>



                            <div class="flex flex-col md:flex-row gap-4">
                                <!-- Confirm Delivery Button -->
                                <button class="bg-gray-500 hover:bg-green-600 text-white py-2 px-4 rounded"
                                    (click)="toggleExpand(row)">
                                    Cancel
                                </button>
                            </div>




                        </div>
                    </div>



                </div>
            </div>
        </td>
    </tr>
    <!-- Buttons Section -->

</ng-container>



            </tbody>
        </table>
    </div>
</div>

<div class="w-full flex flex-col items-center justify-center p-4 border-t border-blue-gray-50">
    <!-- Data Count Information -->
    <p id="dataInfo" class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900 mb-2">
        Showing {{ getStartIndex() + 1 }} - {{ getEndIndex() }} of {{ tabledata.tableData.length }} items
    </p>

    <!-- Pagination Controls -->
    <div class="flex gap-2">
        <!-- Previous Button -->
        <button id="prevBtn" (click)="goToPreviousPage()" [disabled]="currentPage === 1"
            class="select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            Previous
        </button>

        <!-- Page Numbers -->
        <div id="paginationNumbers" class="flex gap-2">
            <span *ngFor="let page of getPageNumbers()" (click)="goToPage(page)"
                [ngClass]="{'font-bold': page === currentPage}" class="cursor-pointer">
                {{ page }}
            </span>
        </div>

        <!-- Next Button -->
        <button id="nextBtn" (click)="goToNextPage()"
            [disabled]="currentPage * itemsPerPage >= tabledata.tableData.length"
            class="select-none rounded-lg border border-gray-900 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-gray-900 transition-all hover:opacity-75 focus:ring focus:ring-gray-300 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button">
            Next
        </button>
    </div>
</div>

</div>

<app-adress-modal *ngIf="showClientModal" (closeModal)="closeClientModal()" (onSave)="saveClient($event)"
    (onClose)="closeClientModal()" [modalHeading]='modalHeading'></app-adress-modal>
    <app-adress-modal *ngIf="showClientModal" (closeModal)="closePickupModal()" (onSave)="savePickup($event)"
        (onClose)="closePickupModal()" [modalHeading]='modalHeading'></app-adress-modal>


        <app-delete-modal *ngIf="showDeleteModal" (closeModal)="closeDeleteModal()" [action]="target" [userId]="targetId"
            [deleteItem]="deleteResource.bind(this)"></app-delete-modal>