<div class="bg-white p-6">
    <h2 class="text-lg font-medium mb-6">Personal Details</h2>
    <form [formGroup]="formGroup">
        <div class="grid grid-cols-2 gap-6">
            <div class="col-span-2 sm:col-span-1">
                <label for="first-name" class="block text-sm font-medium text-gray-700 mb-2">First Name</label>
                <input formControlName="firstName" type="text" name="first-name" id="first-name"
                    placeholder="Enter your first name"
                    class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
                <div *ngIf="formGroup.get('firstName')?.touched && formGroup.get('firstName')?.invalid"
                    class="text-red-500 text-sm mt-1">
                    First Name is required and must be at least 3 letters.
                </div>
            </div>
            <div class="col-span-2 sm:col-span-1">
                <label for="last-name" class="block text-sm font-medium text-gray-700 mb-2">Last Name</label>
                <input formControlName="lastName" type="text" name="last-name" id="last-name"
                    placeholder="Enter your last name"
                    class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
                <div *ngIf="formGroup.get('lastName')?.touched && formGroup.get('lastName')?.invalid"
                    class="text-red-500 text-sm mt-1">
                    Last Name is required and must be at least 3 letters.
                </div>
            </div>
            <div class="col-span-2 sm:col-span-1">
                <label for="emergency-contact-name" class="block text-sm font-medium text-gray-700 mb-2">Emergency
                    Contact Person</label>
                <input formControlName="emergencyContactName" type="text" name="emergency-contact-name"
                    id="emergency-contact-name" placeholder="Enter emergency contact name"
                    class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
            </div>
            <div class="col-span-2 sm:col-span-1">
                <label for="emergency-contact-number" class="block text-sm font-medium text-gray-700 mb-2">Emergency
                    Contact Number</label>
                <input formControlName="emergencyContactNumber" type="tel" name="emergency-contact-number"
                    id="emergency-contact-number" placeholder="e.g., +91-9876543210"
                    class="w-full py-3 px-4 border border-gray-400 rounded-lg focus:outline-none focus:border-blue-500">
                <div *ngIf="formGroup.get('emergencyContactNumber')?.touched && formGroup.get('emergencyContactNumber')?.invalid"
                    class="text-red-500 text-sm mt-1">
                    Valid Indian Phone Number is required.
                </div>
            </div>
        </div>
    </form>
</div>